# Created with tools/render_packages.py from packaging/winget in https://github.com/matteopolak/jai
# yaml-language-server: $schema=https://aka.ms/winget-manifest.version.1.12.0.schema.json

PackageIdentifier: matteopolak.jai
PackageVersion: @VERSION@
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.12.0
